/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body.modal-open {
  overflow: hidden;
}

@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.15s ease-out;
}
